html, body {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  text-justify: inter-word;
}

hr {
  background: #ddd;
  display: block;
  height: 1px;
  border: none;
}

label {
  display: block;
  margin: 0.25rem auto;
}

input[type="range"], input[type="color"] {
  width: 100%;
}

input[type="checkbox"] {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 0.25rem;
  margin: 1rem auto;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gen-container {
  margin: 1rem auto;
  width: 900px;
  padding: 1rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  border: 1px solid #000000;
}

.gen-btn {
  -webkit-transition: background 0.5s 0s linear;
  -moz-transition: background 0.5s 0s linear;
  -o-transition: background 0.5s 0s linear;
  transition: background 0.5s 0s linear;
}

.github-link {
  height: 50px;
  width: 50px;
  overflow: hidden;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999999;
  opacity: 0.75;
  border-radius: 100%;
  border: 1px solid #ddd;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition-delay: 0.25s;
}

.github-link:hover {
  opacity: 1;
  transition-property: all;
  transition-duration: 0s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.github-link ~ span {
  position: fixed;
  top: 17px;
  right: -300px;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 0.5rem 5rem 0.5rem 1rem;
}

.github-link:hover ~ span {
  right: 0px;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.github-link img {
  max-height: 100%;
  max-width: 100%;
}
